.main {
    background-color: rgb(245, 243, 237);
    height:100%;
    width:100%;
    position:absolute;
}

.signUp_main {
    background-color:#3bb19b;
    /* width:40%; */
    color:#fff;
    /* border-radius: 10px; */
    border:none;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
   
    /* margin:auto; */
    /* position: relative; */
    /* margin-top: 2rem; */
    padding:20px;
}
.input_position {
    display:flex;
    margin:20px;
    justify-content: space-around;
}
.form {
    padding:50px;
    padding-top: 20px;
}
.input_auth {
    border-radius: 10px ;
    width:60%;
    height:2rem;
    background-color:rgb(245, 243, 237); 
    border:1px solid black

}
.heading {
    padding-top: 50px;
    padding-top: 20px;
}
.but {
    background-color: black;
    border-radius: 10px;
    width:40%;
    height:2rem;
    color:#fff;
    border:none;
}
.errorMsg {
    color: red
}

.navbar {
	width: 100%;
	height: 70px;
	background-color: #3bb19b;
	display: flex;
	align-items: center;
	justify-content: space-between;
    position:fixed; 
    z-index: 999;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 20px;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: #3bb19b;
	/* border-radius: 20px; */
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
    color:#fff;
}
link {
    color:#000
}
.card_main {
   background-color:#f6e4e4; 
   padding-top: 3rem;
   width:100%;
   overflow-x: hidden;
}
.card_1 {
   
display: flex;
  flex-wrap: wrap;
    
}

.card_style{
    cursor: pointer;
    transition: .3s;
    margin:20px;
    margin-top: 0px;
    padding-top: 20px;
    width:80%;
    border: none;
    background: rgb(230,230,230);
}
  
  .smalltrash{
      display: none;
  }
  
  
  .card_style:hover{
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
      
  }
  
  .iteamsdetails{
      max-width: 800px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
  }
  .items_img{
      flex: .4;
  }
  .items_img img{
      width: 20rem;
      border-radius: 5px;
  }
  
  .details{
      flex: .5;
  };
  
  .rating{
      background-color: green;
  }
  .size {
    width:25%
  }
  @media (max-width:772px){
      .iteamsdetails{
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
      .card_1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .card_style {
        width:100%;
        margin:0px;
        margin-top: 50px;
      }
      .size {
        width:80%
      }
      .card_main {
        padding-top: 0px;
      }
      .white_btn_1 {
        display: none;
      }
      /* .modal_view {
        flex-direction:column
    } */
    .div_1 {
        width:100%
    }
    .div_2 {
        width:100%
    }
   .size_1 {
        width:100% !important
    }
    .box {
        width:100% !important
    }
    .icon_main {
        width:100% !important
    } 
  }
  
  @media (max-width:450px){ 
      .smalltrash{
          display: block;
      }
      .largetrash{
          display:none;
      }
      .emptycart_img{
          margin-right: 50px;
          
      }
      .smallclose{
          display: none;
      }
  
      /* individual iteams details */
     
       .items_img img{
          width: 16rem;
      } 
      
       .modal_view {

        flex-direction:column !important;
     
    } 
     .div_1 {
        width:100% !important;
        position:inherit !important
    }
    .div_2 {
        width:100% !important;
       
    } */
    .size_1 {
        width:100% !important
    }
    .box {
        width:100% !important
    }
    .icon_main {
        width:100% !important
    } 
  } 

  .field {
    width:80%;
    height:2.5rem;
    border: .5px solid grey;
    
  }
  .fhead {
    font-weight:bold;
    margin-bottom: .5rem;
    margin-top: 1rem;
    text-align: left;
    margin-left: 5rem;
  }
  .inputdiv {
    
     margin-bottom:1rem;
      display:flex;
      flex-direction: column;
      align-items: center;
  }

  .white_btn_1 {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: #3bb19b;
	/* border-radius: 20px; */
	width: 150px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin: auto;
    color:#fff;
    margin-bottom: 20px;
    display:block
}
.carousal {
    display:flex;
    flex-direction: row;
}
.display {
    display: block;
    width:100%
}
.white_btn_1:hover {
    background-color:#2b7466
}
.no-data {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:40px;
    font-size: 30px;
    color: #3bb19b;
    margin:auto;
    padding-bottom: 40px;
}
.style_image:hover {
    
    transform: scale(1.2);
}

.modal_view {
   display:flex;
   padding:30px;
   width:100%;
}
.modal_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height:80%
  
}
.model_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.buy {
    width: 12rem;
    height:3rem;
    border:none;
    background-color: black;
    color:#fff;
   
}
.add_cart {
    width: 12rem;
    height:3rem;
    border:none;
    background-color: #2b7466;
    color:#fff;
    margin-right: 1rem;
}
.buy:hover {
    background-color: rgb(39, 38, 38);
}
.add_cart:hover  {
    background-color: #1e5348;
}
.deal {
    color: rgb(128, 47, 47)
}
.box {
    border:solid rgb(198, 198, 198) 1px;
    border-radius: 5px;
    width:70%;
    padding:10px;
}
.icon_main {
    width:70%;
    display:flex;
    margin-bottom: -36px;
}
.icons {
   padding:20px;
   display: column;
   width:25%;
   color:#1c5045;
   font-size: 12px;
}
.div_1 {
    width: 40%;
    position:fixed;
}
.div_2 {
    width: 60%;
    display:column;
    padding:30px;
    padding-top:10px;
    margin-left: auto;
}
.size_1 {
    width:60%
}
.cart_head {
    background-color: #2b7466;
    color:#fff;

}
.detail {
    padding-left: 20px;
}
.cart_btn {
    margin-top:20px;
    display:flex;
    margin-bottom: 1rem;
    width:100%
}
.cbtn_1 {
    width: 16rem;
    height:2rem;
    border:none;
    background-color: #2b7466;
    color:#fff; 
}
.cbtn_2 {
    width: 16rem;
    height:2rem;
    border:none;
    background-color: black;
    color:#fff; 
}
.cbtn_2:hover {
    background-color: rgb(39, 38, 38);
}
.cbtn_1:hover  {
    background-color: #1e5348;
   
}
.rate {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.rate_1 {
    display: flex;
    justify-content: space-between; 
}
.free {
    color:rgb(15, 131, 15)
}
.place {
    width:100%;
    height:3rem;
    background-color: rgb(253, 125, 27);
    color:'#fff';
    border:none;

}
.wish_btn {
    margin-left: 2rem;
    width: 12rem;
    height:3rem;
    border:none;
    background-color: #2b7466;
    color:#fff; 
}
.toast {
   position:relative;
}
.qty_btn {
  border-radius: 50%; 
  border:none;
  background-color: #2b7466;
  color:#fff;
  margin: 5px;
}
.main_add {
    width:40%;
    background-color: rgb(245, 243, 237);
    margin-top: 2rem !important;
    margin:auto;

}
.head_add {
    height:3rem;
    background-color: #2b7466;
    color:#fff; 
    text-align: center;
    padding:10px;
}
.form_add {
    margin-top: 30px; 
}
.textField {
    margin:10px !important;
}
.text_add {
    text-align: start;
    margin-left:3rem;
    color:#2b7466;
}
.btn_add {
    border:2px solid gray;
    background-color: #fff;
    width:6rem;
    height:2rem;
    /* border-radius: 10px; */

}
.but_add {
    margin-left:3rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.btn_add_change {
    border:none;
    background-color: #2b7466;
    color:#fff;
    width:6rem;
    height:2rem;
}
.save_add {
    width:82%;
    height:3rem;
    color:#fff;
    background-color: rgb(239, 97, 46);
    border:none;
    margin-top:20px;
    margin-bottom: 20px;
}
.office {
    display: inline;
    margin-left:20px
}
.add_new {
    text-align: left;
    padding: 20px;
    padding-bottom: 5px;
    cursor: pointer;
}
.add_shown {
    text-align: left;
    padding:20px;
    padding-top: 0px;
   
}
.deliver {
    padding:20px;
    display:flex;
    justify-content: space-between;
}
.deliver_btn {
    border:1px solid #2b7466;
    background-color: #fff;
    color:#2b7466;
    width:6rem;
    height:2rem;
}
.o_add {
    text-align: left;
    padding:20px;
    width:80%;
    
}
.order-cart {
    padding:20px;
    width:100%
}
.save_add_1 {
    width:100%;
    height:3rem;
    color:#fff;
    background-color: rgb(239, 97, 46);
    border:none;
    margin-top:20px;
    margin-bottom: 20px;
  
}